{
  extends: "airbnb",
  env: {
    node: true,
    mocha: true
  },
  globals: {
    expect: true
  },
  parser: "babel-eslint",
  rules: {
    semi: [2, "never"],
    no-console: 0,
    object-curly-spacing: 0,
    keyword-spacing: 2,
    prefer-const: 0,
    comma-dangle: 0,
    func-names: 0,
    space-before-function-paren: 0,
    no-shadow: 0,
    no-unused-expressions: 0,
    no-unused-vars: 1,
    no-else-return: 0
  }
}
